.list-group-item {
    position: relative;
    display: inline-block;
    padding: .75rem 1.25rem;
    margin-bottom: 3px;
    background-color: #fff;
    border: 3px solid rgba(0,0,0,.125);
    max-width:50%;
}

.overview_data {
    padding-inline-start:0px;
    padding-bottom: 20px;
}

.header {
    padding-bottom: 30px;
}

#user-input-section {
    padding: 2%;
    float: left;
    width: 58%;

}

#output-section {
    padding: 2%;
    float: left;
    width: 38%;
}

#major-detail-section {
    padding: 2%;
}