{% load static %}

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="{% static 'LaunchScreen/images/umbc_logo.jpg' %}" alt="">  Academic Pathway Optimization  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link ml-auto" href="/">Academic Pathway Optimization Start</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-auto" href="/gre_search">General Education Requirement Search Start</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-auto" href="/admin">Access Administrator Interface</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-auto" href="#">About the Authors</a>
            </li>
        </ul>
    </div>
</nav>